* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to right, #ff0080, #ff8c00, #40e0d0);
  color: #664eaf;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
}

.user {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  border: 2px;
}

.user1,
.user2,
.user3 {
  padding: 20px;
  margin-bottom: -20px;
  border-radius: 10px;
}

.user1 {
  color: #cccce8;
  background: linear-gradient(to right, #ad5389, #3c1053);
  border: solid blue;
}

.user2 {
  color: #bd0e7d;
  background: linear-gradient(to right, #fdfc47, #24fe41);
  border: dashed #bd0e7d;
  margin-left: 365px;
}

.user3 {
  color: #f5ed05;
  background: linear-gradient(to right, #ff0099, #493240);
  border: dotted #f5ed05;
  margin-left: 730px;
}

.box {
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
