* {
  box-sizing: border-box;
  margin: 0;
}

div {
  display: inline-block;
}

ul {
  list-style: none;
}

.user {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  border: 2px;
}

.user1 {
  color: blue;
  background-color: #f1f90b;
  border: solid blue;
  border-radius: 10px;
  padding: 20px;
  margin-right: 30px;
}

.user2 {
  color: #bd0e7d;
  background-color: #0abce9;
  border: dashed #bd0e7d;
  border-radius: 10px;
  padding: 20px;
  margin-right: 30px;
}

.user3 {
  color: #f5ed05;
  background-color: #08db0b;
  border: dotted #f5ed05;
  border-radius: 10px;
  padding: 20px;
}

.box {
  height: 500px;
  width: 400px;
}
